@*Author:SA,BM,SM , Date:14-01-2021
    Aim:To create view edit the postgraduate course*@

@page "/postgraduatecourse"

@using TuitionsOnlineAdmin.UseCases.PostGraduateCourses.CreatePostGraduateCourseScreen.Interface
@using TuitionsOnlineAdmin.UseCases.PostGraduateCourses.ViewPostGraduateCourseScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.PostGraduateCourses.UpdatePostGraduateCourseScreen.Interface
@using TuitionsOnlineAdmin.CoreBusiness

@inject NavigationManager UriHelper
@inject ICreatePostGraduateCourseUseCase  instanceOfICreatePostGraduateCourseUseCase
@inject IViewPostGraduateCourseUseCase    instanceOfIViewPostGraduateCourseUseCase
@inject IUpdatePostGraduateCourseUseCase instanceOfIUpdatePostGraduateCourseUseCase
@inject BusinessMessage instanceOfBusinessMessage
@* this TextBox is used to search the data  *@
<div>
    <DxTextBox TextChanged="@((searchText) => OnTextChanged(searchText))"
               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
               SizeMode="SizeMode.Small"
               NullText="Search for postgraduate courses ...."></DxTextBox>
</div>
<br />


<div>
    @if (viewError && @postGraduateCourseList == null)
    {
        <p class="success_message_style">
            @instanceOfBusinessMessage.UNKNOWN_SERVER_ERROR_VIEW_POSTGRADUATECOURSE
        </p>
    }
</div>

<div>

    @* To display the success message on click of save when new Postgraduate course is created *@
    @if (createMessage && resultForCreate == "done")
    {
        <p class="success_message_style">
            Your Post graduate course "@postGraduateCourse" has been created successfully !
        </p>
    }
    else
    {
        <p class="success_message_style">
            @resultForCreate
        </p>
    }
</div>

<div>

    @* To display server error message *@
    @if (updateMessage && resultForUpdate == "done")
    {
        <p class="success_message_style">
            Your Post graduate course "@postGraduateCourse" has been updated successfully !
        </p>
    }
    else
    {
        <p class="success_message_style">
            @resultForUpdate
        </p>
    }
</div>

@*Table is used to display the data *@
<DxDataGrid Data="@postGraduateCourseList"
            RowInserting="@((newCourse) => CreatePostGraduateCourse(newCourse))"
            RowUpdating="@((postGraduateCourseToBeUpdated, newValue) => UpdatePostGraduateCourse(postGraduateCourseToBeUpdated, newValue))"
            PageSize="5">
    <DxDataGridColumn Field="@nameof(PostGraduateCourse.PostGraduateCourseName)" Width="500px" />
    <DxDataGridCheckBoxColumn Field="@nameof(PostGraduateCourse.Active)" />
    <DxDataGridCommandColumn Width="200px" DeleteButtonVisible="false" />
</DxDataGrid>




@code {

    @* To hold the hold the Course details*@
    IEnumerable<PostGraduateCourse> postGraduateCourseList = Enumerable.Empty<PostGraduateCourse>();

    @*To hold the search text*@
    String searchkey;

    //public string result;

    //Variable to hold the success message on create of Postgraduate Course
    string resultForCreate;

    //Variable to hold the success message on update of Postgraduate Course
    string resultForUpdate;

    //Boolean variable to display the message on create of Postgraduate Course
    bool createMessage = false;

    //Boolean variable to display the message on update of Postgraduate Course
    bool updateMessage = false;

    //Boolean variable to display the message on view of Postgraduate Course
    bool viewError = false;

    //Variable to hold the Postgraduate Course name
    public string postGraduateCourse;

    @*The init method is to invoke the get Postgraduate course list*@
    protected override void OnInitialized()
    {

        @*To invoke the GetPostGraduateCourses() *@
        GetPostGraduateCourses(searchkey);

    }

    @*To get postgraduate course list to be displayed in the data grid columns*@
    public void GetPostGraduateCourses(String searchkeyword)
    {
        postGraduateCourseList = instanceOfIViewPostGraduateCourseUseCase.ViewPostGraduateCourse(searchkeyword);
        viewError = true;
    }

    //Method to capture the user search result
    void OnTextChanged(String searchText)
    {

        searchkey = searchText;
        @*The StateHasChanged makes sure that the component is notified to re-render the data*@

        InvokeAsync(StateHasChanged);

        @*The course list should be fetched again to display the newly created course along with the existing the course list *@
        GetPostGraduateCourses(searchkey);

    }


    @*The OnRowInserting() method is responsible for capturing the details enetred by the user and save the data.*@
    private async void CreatePostGraduateCourse(Dictionary<string, object> newCourse)
    {

        @* To hold the new course to be created *@
        PostGraduateCourse createPostGraduateCourse = new PostGraduateCourse();
        @*The new value comes in the form of key value pair*@
        foreach (var field in newCourse.Keys)
        {
            @*For each incoming key we check and assign the values to newPostgraduateCourse *@
            switch (field)
            {
                case "PostGraduateCourseName":
                    postGraduateCourse = createPostGraduateCourse.PostGraduateCourseName = (string)newCourse[field];
                    break;
                case "Active":
                    createPostGraduateCourse.Active = (bool)newCourse[field];
                    break;
            }
        }



        @*To invoke the method to create new postgraduate course*@
        resultForCreate = instanceOfICreatePostGraduateCourseUseCase.CreatePostGraduateCourse(createPostGraduateCourse);

        createMessage = true;
        @*The StateHasChanged makes sure that the component is notified to re-render the data*@
        await InvokeAsync(StateHasChanged);
        @*The course list should be fetched again to diplay the newly created course along with the existing the course list *@
        GetPostGraduateCourses(searchkey);

        //Used to refresh the razor page
        await Task.Delay(2000);
        //Used to refresh the razor page
        UriHelper.NavigateTo("postgraduatecourse", forceLoad: true);

    }

    @*Authors: Shravan A, Bhavya MU, Sneha M , Karan Kumar , Bhargavi S Adiga
        Date:14-01-2021
        Aim:update postgraduate course   *@

    //This method is used to update the postgraduate course list
    private async void UpdatePostGraduateCourse(PostGraduateCourse postGraduateCourseToBeUpdated, Dictionary<string, object> newValue)
    {

        foreach (var course in newValue.Keys)
        {
            switch (course)
            {
                case "PostGraduateCourseName":
                    postGraduateCourse = postGraduateCourseToBeUpdated.PostGraduateCourseName = (string)newValue[course];
                    break;
                case "Active":
                    postGraduateCourseToBeUpdated.Active = (bool)newValue[course];
                    break;
            }


            resultForUpdate = instanceOfIUpdatePostGraduateCourseUseCase.UpdatePostGraduateCourse(postGraduateCourseToBeUpdated);

            updateMessage = true;

            @*The StateHasChanged makes sure that the component is notified to re-render the data*@
            await InvokeAsync(StateHasChanged);
            @*The course list should be fetched again to diplay the newly created course along with the existing the course list *@
            GetPostGraduateCourses(searchkey);

            //Used to refresh the razor page
            await Task.Delay(2000);
            //Used to refresh the razor page
            UriHelper.NavigateTo("postgraduatecourse", forceLoad: true);

        }

    }
}
