@* Authors: Shravan A, Bhavya MU, Sneha M , Karan Kumar , Bhargavi S Adiga
    Date: 15-01-2021
    Aim : To create an Certificate course,edit,deactivate and display the Certificate courses*@

@page "/certificatecourse"
@using TuitionsOnlineAdmin.UseCases.CertificateCouses.CreateCertificateCourseScreen.Interface
@using TuitionsOnlineAdmin.UseCases.CertificateCourses.ViewCertificateCourseScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.CertificateCourses.UpdateCertificateCourseScreen.Interface
@using TuitionsOnlineAdmin.CoreBusiness

@inject NavigationManager UriHelper
@inject ICreateCertificateCourseUseCase instanceOfICreateCertificateCourseUseCase
@inject IViewCertificateCourseUseCase instanceOfIViewCertificateCourseUseCase
@inject IUpdateCertificateCourseUseCase instanceOfIUpdateCertificateCourseUseCase
@inject BusinessMessage instanceOfBusinessMessage
@* this TextBox is used to search the data  *@
<div>
    <DxTextBox TextChanged="@((searchText) => OnTextChanged(searchText))"
               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
               SizeMode="SizeMode.Small"
               NullText="Search for certificate courses ...."></DxTextBox>
</div>
<br />

<div>

    @* To display the success message on click of save when new Certificate course is created *@
    @if (createMessage && resultForCreate == "done")
    {
        <p class="success_message_style">
            Your Certificate course "@certificatedCourse" has been created successfully !
        </p>
    }
    else
    {
        <p class="success_message_style">
            @resultForCreate
        </p>
    }
</div>

@* To display the success message on click of save when Certificate course is updated *@
<div>
    @if (updateMessage && resultForUpdate == "done")
    {
        <p class="success_message_style">
            Your Certificate course "@certificatedCourse" has been updated successfully !
        </p>
    }
    else
    {
        <p class="success_message_style">
            @resultForUpdate
        </p>
    }
</div>

<div>
    @* To display server error message *@
    @if (viewError && certificateCourseList == null)
    {
        <p class="success_message_style">
            @instanceOfBusinessMessage.UNKNOWN_SERVER_ERROR_VIEW_CERTIFICATECOURSE
        </p>
    }
</div>


@*Table is used to display the Certificate Course data *@
<DxDataGrid Data="@certificateCourseList"
            RowInserting="@((newCourse) => CreateCertificateCourse(newCourse))"
            RowUpdating="@((certificateCourseToBeUpdated, newValue) => UpdateCertificateCourse(certificateCourseToBeUpdated, newValue))"
            PageSize="5">
    <DxDataGridColumn Field="@nameof(CertificateCourse.CertificateCourseName)" Width="300px" />
    <DxDataGridCheckBoxColumn Field="@nameof(CertificateCourse.Active)" Width="200px" />
    <DxDataGridCommandColumn Width="200px" DeleteButtonVisible="false" />
</DxDataGrid>


@code {
    @* To hold the Course details*@
    IEnumerable<CertificateCourse> certificateCourseList = Enumerable.Empty<CertificateCourse>();

    @*To hold the search text*@
    String searchkey;

    //Variable to hold the success message on create of Certificate Course
    public string resultForCreate;

    //Boolean variable to display the message on create of Certificate Course
    bool createMessage = false;

    //Variable to hold the success message on update of Certificate Course
    public string resultForUpdate;

    //Boolean variable to display the message on update of Certificate Course
    bool updateMessage = false;

    //Boolean variable to display the error message if the user is unable to view the data
    bool viewError = false;

    //Variable to hold the Certificate Course name
    public string certificatedCourse;


    @*The init method is to inoke the get Certificate Course list*@
    protected override void OnInitialized()
    {

        @*To invoke the GetCertificateCourses() to fetch the certificateCourse list to be displayed*@
        GetCertificateCourses(searchkey);

    }
    @*To get certificate Course list to be displayed in the data grid columns*@
    public void GetCertificateCourses(String searchkeyword)
    {
        certificateCourseList = instanceOfIViewCertificateCourseUseCase.ViewCertificateCourse(searchkeyword);
        viewError = true;
    }
    void OnTextChanged(String searchText)
    {
        searchkey = searchText;
        @*The StateHasChanged makes sure that the component is notified to re - render the data*@

        InvokeAsync(StateHasChanged);

        @*The course list should be fetched again to display the newly created course along with the existing the course list *@
        GetCertificateCourses(searchkey);
    }


    @*The OnRowInserting() method is responsible for capturing the details enetred by the user and save the data.*@
    private async void CreateCertificateCourse(Dictionary<string, object> newCourse)
    {
        @* To hold the new course to be created *@
        CertificateCourse createCertificateCourse = new CertificateCourse();
        @*The new value comes in the form of key value pair*@
        foreach (var field in newCourse.Keys)
        {
            @*For each incoming key we check and assign the values to newCertificateCourse *@
            switch (field)
            {
                case "CertificateCourseName":
                    certificatedCourse = createCertificateCourse.CertificateCourseName = (string)newCourse[field];
                    break;
                case "Active":
                    createCertificateCourse.Active = (bool)newCourse[field];
                    break;
            }
        }

        @*To invoke the method to create new certificate Course*@
        resultForCreate = instanceOfICreateCertificateCourseUseCase.CreateCertificateCourse(createCertificateCourse);

        createMessage = true;
        @*The StateHasChanged makes sure that the component is notified to re-render the data*@
        await InvokeAsync(StateHasChanged);
        @*The course list should be fetched again to display the newly created course along with the existing the course list *@
        GetCertificateCourses(searchkey);

        //Used to refresh the razor page
        await Task.Delay(2000);
        //Used to refresh the razor page
        UriHelper.NavigateTo("certificatecourse", forceLoad: true);

    }

    //To take and update the value for  CertificateCourse
    private async void UpdateCertificateCourse(CertificateCourse certificateCourseToBeUpdated, Dictionary<string, object> newValue)
    {
        @*The new value comes in the form of key value pair*@
        foreach (var course in newValue.Keys)

        {

            switch (course)
            {
                case "CertificateCourseName":
                    certificatedCourse = certificateCourseToBeUpdated.CertificateCourseName = (string)newValue[course];
                    break;
                case "Active":
                    certificateCourseToBeUpdated.Active = (bool)newValue[course];
                    break;
            }

        }

        @*certificateCourseToBeUpdated this variable holds the updated value and is sent to the database*@
        resultForUpdate = instanceOfIUpdateCertificateCourseUseCase.UpdateCertificateCourse(certificateCourseToBeUpdated);
        updateMessage = true;
        @*The StateHasChanged makes sure that the component is notified to re-render the data*@
        await InvokeAsync(StateHasChanged);
        @*The course list should be fetched again to display the newly created course along with the existing the course list *@
        GetCertificateCourses(searchkey);

        //Used to refresh the razor page
        await Task.Delay(2000);
        //Used to refresh the razor page
        UriHelper.NavigateTo("certificatecourse", forceLoad: true);

    }
}

