@page "/TeacherUniversity"
@*Authors: Shravan A, Bhavya MU, Sneha M , Karan Kumar , Bhargavi S Adiga

    Date:26/02/2021
    Aim: To create a search box and to display the list of teacher  *@

@using TuitionsOnlineAdmin.UseCases.TeacherBasicInformations.ViewTeacherBasicInformationScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.Universities.ViewUniversityScreen.Intefaces
@using TuitionsOnlineAdmin.UseCases.TeacherUniversities.ViewTeacherUniversityScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.TeacherUniversities.CreateTeacherUniversityScreen.Interfaces
@using TuitionsOnlineAdmin.UseCases.TeacherUniversities.EditTeacherUniversityScreen.Interfaces
@using TuitionsOnlineAdmin.CoreBusiness

@inject IViewTeacherBasicInformationUseCase diIViewTeacherBasicInformationUseCase
@inject IViewUniversityUseCase diIViewUniversityUseCase
@inject IViewTeacherUniversityUseCase diIViewTeacherUniversityUseCase
@inject ICreateTeacherUniversityUseCase diICreateTeacherUniversityUseCase
@inject IEditTeacherUniversityUseCase diIEditTeacherUniversityUseCase
@inject BusinessMessage instanceOfBusinessMessage

<div>

    @* To display the success message on click of save when new university is created *@
    @if (createMessage && resultForCreate == "done")
    {
        <p class="success_message_style">
            Your university  has been added successfully!
        </p>
    }
    else
    {
        <p class="success_message_style">
            @resultForCreate
        </p>
    }
</div>

<div>

    @* To display the success message on click of save when university is updated *@
    @if (updateMessage && resultForUpdate == "done")
    {
        <p class="success_message_style">
            Your university  has been removed successfully !
        </p>
    }
    else
    {
        <p class="success_message_style">
            @resultForUpdate
        </p>
    }
</div>

<div>

    @* To display server error message *@
    @if (viewError && @universityList == null)
    {
        <p class="success_message_style">
            @instanceOfBusinessMessage.UNKNOWN_SERVER_ERROR_VIEW_TEACHERUNIVERSITY
        </p>
    }
</div>
<DxGridLayout CssClass="mw-1100 dxgridlayout_style" style=" height: auto; margin-bottom: 10px;">
    <Rows>
        <DxGridLayoutRow Height="auto" />
    </Rows>
    <Columns>
        <DxGridLayoutColumn Width="50%" />
        <DxGridLayoutColumn Width="50%" />
    </Columns>
    <Items>
        <DxGridLayoutItem Row="0" Column="0">
            <Template>
                <div class=" dxgridlayoutitem_style">
                    <center><h5>Select Teacher Name</h5></center>

                    <div>

                        <DxTextBox NullText="Search Teachers" SizeMode="SizeMode.Small" style=" width:550px;" TextChanged="@((searchTeacherKeyword) => onChangeTeacherSearchText(searchTeacherKeyword))"> </DxTextBox>


                        <div class="teachersearchbutton_style">

                            <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Text="Search Teacher" SizeMode="SizeMode.Small" Enabled="@enableOrDisableSearchTeacherButton" Click="@getTeacherListOnSearch" />
                        </div>
                    </div>
                    <br />
                    @if (enableSearchTeacherButton)
                    {
                        <DxDataGrid Data="@teacherDetailsList"
                                    @bind-SingleSelectedDataRow="@onSelectOfTeacher"
                                    CssClass="mw-1100">
                            <DxDataGridSelectionColumn Width="50px"></DxDataGridSelectionColumn>
                            <DxDataGridColumn Field="@nameof(TeacherBasicInformation.Teacher_Name)" Caption="Teacher Name"></DxDataGridColumn>
                            <DxDataGridColumn Field="@nameof(TeacherBasicInformation.Email_Address)" Caption="Teacher Email Address"></DxDataGridColumn>
                        </DxDataGrid>

                        <div class="loadbutton_style">

                            <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Text="Load University" SizeMode="SizeMode.Small" Enabled="@enableOrDisableLoadUniversityButton" Click="@loadUniversities" />
                        </div>
                    }
                </div>

                <br />

                @*Aim:Search box for University*@
                @if (enableUniversityGridLayout)
                {
                    <div class=" dxgridlayoutitem_style">
                        <center><h5>Select University</h5></center>

                        <div>
                            <DxTextBox NullText="Search Universities" SizeMode="SizeMode.Small" style=" width:550px;" TextChanged="@((searchUniversityKeyword) => onChangeUniversitySearchText(searchUniversityKeyword))"> </DxTextBox>


                            <div class="coursesearchbutton_style">

                                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Text="Search University" SizeMode="SizeMode.Small" Enabled="@enableOrDisableSearchUniversityButton" Click="@getUniversityOnSearch" />
                            </div>
                        </div>
                        <br />
                        @if (enableSearchUniversityButton)
                        {
                            <DxDataGrid Data="@universityList"
                                        @ref="@universityGrid"
                                        KeyFieldName="@nameof(University.UniversityId)"
                                        @bind-SingleSelectedDataRow="@onselectofuniversity"
                                        CssClass="datagrid-border-radius-top-0 mw-1100">
                                <DxDataGridSelectionColumn></DxDataGridSelectionColumn>
                                <DxDataGridColumn Field="@nameof(University.UniversityName)" Caption="University"></DxDataGridColumn>


                            </DxDataGrid>
                            <div class="loadbutton_style">
                                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" Text="Add University" SizeMode="SizeMode.Small" Click="@AddUniversities" />
                            </div>
                        }
                    </div>
                }
                <br />

            </Template>
        </DxGridLayoutItem>
        @if (enableUniversityGridLayout)
        {
            <DxGridLayoutItem Row="1" Column="1">
                <Template>


                    <DxDataGrid Data="@teacherUniversityList"
                                SelectionMode="DataGridSelectionMode.MultipleSelectedDataRows"
                                @bind-MultipleSelectedDataRows="@onSelectOfTeacherUniversity">
                        <DxDataGridSelectionColumn></DxDataGridSelectionColumn>

                        <DxDataGridColumn Field="@nameof(TeacherUniversityWithForeignKeys.TeacherName)" Caption="Teacher Name"></DxDataGridColumn>
                        <DxDataGridColumn Field="@nameof(TeacherUniversityWithForeignKeys.UniversityName)" Caption="University Name"></DxDataGridColumn>

                    </DxDataGrid>
                    <div class="loadbutton_style">
                        <DxButton RenderStyle="ButtonRenderStyle.Primary " RenderStyleMode="ButtonRenderStyleMode.Contained" Text="Remove University" SizeMode="SizeMode.Small" Click="@RemoveUniversity" />
                    </div>
                </Template>
            </DxGridLayoutItem>
        }
    </Items>
</DxGridLayout>

@code {
    //Variable to hold the success message on create of university
    public string resultForCreate;

    //Variable to hold the success message on update of university
    public string resultForUpdate;

    //Boolean variable to display the message on create of university
    bool createMessage = false;

    //Boolean variable to display the error message if the user is unable to view the data
    bool viewError = false;

    //Boolean variable to display the message on update of university
    bool updateMessage = false;

    DxDataGrid<TeacherBasicInformation> teacherGrid;
    DxDataGrid<University> universityGrid;
    DxDataGrid<TeacherUniversity> teacherUniversityGrid;

    //Aim : Used to capture the keyword entered by the user
    public string searchTeacherKeyword = null;

    //Aim : To hold the details of the teacher selected by the user
    TeacherBasicInformation selectedTeacherDetails;

    //Aim : To enable or disable teacher search button
    public bool enableOrDisableSearchTeacherButton = false;

    //Aim : To enable or disable University search button
    public bool enableOrDisableLoadUniversityButton = false;

    public bool enableUniversityGridLayout = false;

    //Aim : Used to capture the keyword entered by the user
    public bool enableOrDisableSearchUniversityButton = false;

    //Aim:To enable Search Teacher table
    public bool enableSearchTeacherButton = false;

    //Aim:To enable search University table
    public bool enableSearchUniversityButton = false;

    public bool enableTeacherUniversityGridLayout = false;

    //Aim : Used to capture the keyword entered by the user
    public string searchUniversityKeyword;

    public int selectedTeacherId;

    public University selectedUniversityList;

    public int selectedUniversityId;

    int SelectedCount { get; set; }

    int StoredSelectedCount { get; set; }

    int StoredUnselectedCount { get; set; }

    //Aim : To hold the list of teachers /single record of teachers details of type TeacherBasicInformation to display in the data grid.
    IEnumerable<TeacherBasicInformation> teacherDetailsList = Enumerable.Empty<TeacherBasicInformation>();

    //Aim : To hold the list of teachers /single record of University details of type University to display in the data grid.
    IEnumerable<University> universityList = Enumerable.Empty<University>();

    //Aim : To hold the list of teachers /single record of TeacherUniversity details of type TeacherUniversity to display in the data grid.
    IEnumerable<TeacherUniversityWithForeignKeys> teacherUniversityList = new List<TeacherUniversityWithForeignKeys>();

    IEnumerable<TeacherUniversityWithForeignKeys> selectedTeacherUniversities;

    //Aim : To determine if the user has entered any data in the search text box and to enable or disable the teacher search button
    public void onChangeTeacherSearchText(string searchTeacherText)
    {
        searchTeacherKeyword = searchTeacherText;
        enableOrDisableSearchTeacherButton = true;

    }

    //Aim: To fetch teacher/teachers details on click of teacher search button :
    //IViewTeacherBasicInformationUseCase is used for fetching the teacher basic information list for the searched key.
    public void getTeacherListOnSearch()
    {

        teacherDetailsList = diIViewTeacherBasicInformationUseCase.ViewTeacherBasicInformationList(searchTeacherKeyword);

        enableSearchTeacherButton = true;
    }

    //Aim : To call getTeacherUniversity method and to enable the "Load University" button.
    public TeacherBasicInformation onSelectOfTeacher
    {
        get { return selectedTeacherDetails; }
        set
        {
            selectedTeacherDetails = value;

            selectedTeacherId = selectedTeacherDetails.TeacherId;
            enableOrDisableLoadUniversityButton = true;

            InvokeAsync(StateHasChanged);
        }
    }

    //Aim:
    //1.to enable the University grid.
    //2.to enable the teacher University grid.
    //3.to invoke the method "getTeacherUniversities"

    public void loadUniversities()
    {
        enableUniversityGridLayout = true;

        enableTeacherUniversityGridLayout = true;
        getTeacherUniversities();
    }

    //Aim : To determine if the user has entered any data in the University search text box and to enable or disable the University search button

    public void onChangeUniversitySearchText(string searchUniversityText)
    {
        searchUniversityKeyword = searchUniversityText;
        enableOrDisableSearchUniversityButton = true;

    }

    //Aim:
    //1.To fetch  Universities(which is matched with the searched criteria) on click of University search button :
    // IViewUniversityUseCase is used for fetching the University list for the searched key.
    //2.To invoke a method "getAvailableUniversities" for obtaining only the courses that are not already associated with the teacher and display the list.

    public void getUniversityOnSearch()
    {
        universityList = diIViewUniversityUseCase.ViewUniversity(searchUniversityKeyword);
        enableSearchUniversityButton = true;

    }

    //Aim : To capture the selected University value and to enable the "Add University" button.
    public University onselectofuniversity
    {
        get { return selectedUniversityList; }
        set
        {

            selectedUniversityList = value;

            selectedUniversityId = selectedUniversityList.UniversityId;

            InvokeAsync(StateHasChanged);
        }

    }

    //Aim : To fetch teacherUniversities from TeacherUniversity table for the selected teacher.

    public void getTeacherUniversities()
    {

        teacherUniversityList = diIViewTeacherUniversityUseCase.ViewTeacherUniversity(selectedTeacherId);


    }

    //Aim: To save the teacher University record on click of save button.

    public void AddUniversities()
    {

        resultForCreate = diICreateTeacherUniversityUseCase.CreateTeacherUniversity(selectedTeacherId, selectedUniversityId);
        createMessage = true;
        getTeacherUniversities();

    }

    //Aim : To capture the selected teacher University value and to enable the "Remove University" button.
    IEnumerable<TeacherUniversityWithForeignKeys> onSelectOfTeacherUniversity
    {
        get { return selectedTeacherUniversities; }
        set
        {
            selectedTeacherUniversities = value;

            InvokeAsync(StateHasChanged);
        }
    }

    //Aim: To remove the teacher University record on click of "Remove University" button.
    public void RemoveUniversity()
    {
        List<TeacherUniversityWithForeignKeys> List = selectedTeacherUniversities.ToList();
        resultForUpdate = diIEditTeacherUniversityUseCase.EditTeacherUniversity(List);
        updateMessage = true;
        getTeacherUniversities();

    }

}


